#root {
  background-color: white;
  font-family: "Karma", serif;
  margin: 2vh 2vw 0 2vw;
}

* {
  max-width: 950px;
  margin: 0 auto;
}

body {
  position: relative;
  min-height: 100vh;
}

.btn {
  background-color: #8783d1;
  border: #8783d1;
}

.btn:hover {
  background-color: #706bca;
}

#logo {
  width: 40vw;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}
.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
  background-color: lightgray;
  color: black;
  text-decoration: none;
  border: hidden;
  border-color: black;
  box-shadow: 0px;
}

.accordion-button:focus {
  z-index: 3;
  border-color: black;
  outline: 0;
  box-shadow: 0 0 0 0.25rem white;
}
