#root {
  background-color: white;
  font-family: "Karma", serif;
    margin: 2vh 2vw 0 2vw;
}

* {
  max-width: 950px;
  margin: 0 auto;
}

body{
    position: relative;
    min-height: 100vh;
}

.btn {
  background-color: #8783d1;
  border: #8783d1;
}

.btn:hover {
  background-color: #706bca;
}

#logo {
  width: 40vw;
}

#pending-accordion:focus{
  background-color: gray;
}

.list-group-item.active {
  background-color: #706bca;
}