.search-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dbdbdb;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar {
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  margin-right: 12px;
  font-size: 12px;
  font-weight: 500;
  color: #333;
}

.search-button {
  font-size: 12px;
  padding: 8px 16px;
}

@media (max-width: 600px) {
  .search-bar {
    padding: 20px 16px !important;
    font-size: 10px !important;
  }

  .search-button {
    padding: 5px 10px !important;
    font-size: 15px !important;
  }
}
