.search-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f7f7f7;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar {
  width: 100%;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.material-icons {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
